@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: oblique;
}


body {
  margin: 0px;
  font-family: "Computer Modern", sans-serif;
  background-color: AliceBlue; 
  overflow: hidden;
  height:100%;
}

.theorem {
  border: 2px solid #cd0e66;
  background: rgba(205, 14, 102, 0.2);
  border-radius: 6px;
  margin-top: calc(1.5em + 18px);
  margin: auto;
  width: 90%;
}
.theorem h3 {
  font-size: 20px;
  margin: 0 0 -20px 10px;
  color: white;
  text-align: left;
  position: relative;
  top: -20px;
  width: fit-content;
  padding: 5px 12px;
  border-radius: 4px;
  background: #cd0e66;
}
.theorem.definition {
  border-color: #fd8c00;
  background: rgba(253, 140, 0, 0.2);
}
.theorem.definition h3 {
  background: #fd8c00;
}
.theorem.example {
  border-color: #22ab24;
  background: rgba(34, 171, 36, 0.2);
}
.theorem.example h3 {
  background: #22ab24;
}
.vidset {
  margin: 0 auto;
  display: block;
  width: 400px;
}

.space {
  margin-top: 10mm;
  margin-bottom: 10mm;
}

.box{
  padding-left: 25px;
  padding-right: 25px;
}



.header {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: #005597;
  color: white;
  font-size: 30px;
  overflow: hidden;
}
 
.header.h2 {
  margin: 0;
  padding: 0;
  display: inline;
}

img.logo{
  height:7%;
  padding-top: 0px;
  margin: 0px;
  padding-bottom: 3px;
  display: inline;
}


.content{
  margin-left:30%;
  margin-right:25px;
  padding:1px 16px;
  padding-top: 20px; 
  padding-bottom: 20px;
  height: 90%;
  font-size: 20px;
  overflow: scroll;
}


.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


